<a href="https://colab.research.google.com/github/bryanoconnell01/Colab-for-Udemy/blob/main/Pandas_MultiIndexing_%26_Groupby_Skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. IMPORT AND EXPLORE DATASET

In [2]:
import pandas as pd  # BOC
#   https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html?highlight=encoding    # useful source

In [3]:
# Import dataset using Pandas
# Link to Dataset: https://www.kaggle.com/carrie1/ecommerce-data
# Data contains transactions details between 01/12/2010 and 09/12/2011 for a UK-based non-store online retail.
# The company specializes in selling unique gifts
sales_df = pd.read_csv('ecommerce_sales.csv', encoding = 'unicode_escape')
sales_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
200589,554147,21749,LARGE RED RETROSPOT WINDMILL,6,5/23/2011 10:48,2.10,12423.0,Belgium
200590,554147,23199,JUMBO BAG APPLES,10,5/23/2011 10:48,2.08,12423.0,Belgium
200591,554147,23256,CHILDRENS CUTLERY SPACEBOY,4,5/23/2011 10:48,4.15,12423.0,Belgium
200592,554147,23254,CHILDRENS CUTLERY DOLLY GIRL,4,5/23/2011 10:48,4.15,12423.0,Belgium
200593,554147,23204,CHARLOTTE BAG APPLES DESIGN,10,5/23/2011 10:4,NaN,NaN,NaN

In [4]:
sales_df.info()   # boc line

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200594 entries, 0 to 200593
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    200594 non-null  object
 1   StockCode    200594 non-null  object
 2   Description  199802 non-null  object
 3   Quantity     200594 non-null  int64
 4   InvoiceDate  200594 non-null  object
 5   UnitPrice    200593 non-null  float64
 6   CustomerID   142574 non-null  float64
 7   Country      200593 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 12.2+ MB

In [6]:
# Let's view the types of data
# Note that InvoiceDate is in object format, we will need to convert it into Datetime format
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200594 entries, 0 to 200593
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    200594 non-null  object
 1   StockCode    200594 non-null  object
 2   Description  199802 non-null  object
 3   Quantity     200594 non-null  int64
 4   InvoiceDate  200594 non-null  object
 5   UnitPrice    200593 non-null  float64
 6   CustomerID   142574 non-null  float64
 7   Country      200593 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 12.2+ MB

In [7]:
sales_df.tail(10)   # loks like not all the lines were written

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
200584,554147,22037,ROBOT BIRTHDAY CARD,12,5/23/2011 10:48,0.42,12423.0,Belgium
200585,554147,22969,HOMEMADE JAM SCENTED CANDLES,12,5/23/2011 10:48,1.45,12423.0,Belgium
200586,554147,POST,POSTAGE,2,5/23/2011 10:48,15.00,12423.0,Belgium
200587,554147,21746,SMALL RED RETROSPOT WINDMILL,12,5/23/2011 10:48,1.25,12423.0,Belgium
200588,554147,23084,RABBIT NIGHT LIGHT,6,5/23/2011 10:48,2.08,12423.0,Belgium
200589,554147,21749,LARGE RED RETROSPOT WINDMILL,6,5/23/2011 10:48,2.10,12423.0,Belgium
200590,554147,23199,JUMBO BAG APPLES,10,5/23/2011 10:48,2.08,12423.0,Belgium
200591,554147,23256,CHILDRENS CUTLERY SPACEBOY,4,5/23/2011 10:48,4.15,12423.0,Belgium
200592,554147,23254,CHILDRENS CUTLERY DOLLY GIRL,4,5/23/2011 10:48,4.15,12423.0,Belgium
200593,554147,23204,CHARLOTTE BAG APPLES DESIGN,10,5/23/2011 10:4,NaN,NaN,NaN

In [ ]:
## Note some missing elements

In [ ]:
# Convert Invoice date to datetime format

In [ ]:
# Check datatype again to confirm!

In [ ]:
# Check the number of Null values in the data

**MINI CHALLENGE #1:**
- **How many unique countries are present in the dataset? List all countries**

# 2. GROUPBY

In [ ]:
# A groupby operation involves some combination of splitting the object, applying a function, and combining the results. 
# This can be used to group large amounts of data and compute operations on these groups.
# Link: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

**MINI CHALLENGE #2:**
- **What is the average, maximum and minimum prices on 2010-12-01 08:34:00**

# 3. CREATE MULTI-INDEX DATAFRAME

In [ ]:
# You can select any column to be the index for the DataFrame
# Use one column only as follows:

In [ ]:
# Let's see how many unique countries are present in the dataframe

In [ ]:
# Alternatively, We can have multiple keys (indexes) using Pandas Multi-indexing
# Take the columns with the least number of unique values and use it for the outermost index

# Let's import the dataset again using Pandas

In [ ]:
# Sort countries to start with alphabetical order

In [ ]:
# Now you need more than one index to access any element

In [ ]:
# Multiindex objects

In [ ]:
# It gives out the datetime and the country as well

**MINI CHALLENGE #3:**
- **Sort the DataFrame in a descending order (countries and dates)**

# 4. MULTI-INDEXING OPERATIONS - PART #1

In [ ]:
# You can change the names of the DataFrame by invoking the set_names method

**MINI CHALLENGE #4:**
- **Use InvoiceDate and Country in order as the multi-index**
- **Change the name of both indexes to "Date" and "location"**

# 5. MULTI-INDEXING OPERATIONS - PART #2

In [ ]:

# Sort countries to start with alphabetical order

In [ ]:
# you can use a multi-index reference to access specific elements 
# Alternatively, you can use a column name instead

In [ ]:
# feed index as a tuple (important to avoid confusion)
# first argument references rows and the second argument references a column

In [ ]:
# no issues with numeric indexing, you can use one index so no tuples are required

In [ ]:
# no issues with numeric indexing

In [ ]:
# You can use transpose to Transpose indexes and columns
# reflect the DataFrame over its main diagonal by writing rows as columns and vice-versa.

In [ ]:
# Let's import the dataset again using Pandas

In [ ]:
# You can perform swaplevel as follows:

In [ ]:
# Perform swaplevel again:

In [ ]:
# Please note that there is no point of adding [False, False] or [True, True]

In [ ]:
# only sort by that given level and ignore the others

**MINI CHALLENGE #5:**
- **Calculate the average unit price for transactions occured in "United Kingdom" at "12/1/2010 8:26"**

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:**
- **How many unique countries are present in the dataset? List all countries**

In [ ]:
sales_df['Country'].unique()

In [ ]:
# Obtain the number of unique values in each column
sales_df.nunique()

**MINI CHALLENGE #2 SOLUTION:**
- **What is the average, maximum and minimum prices on 2010-12-01 08:34:00**

In [ ]:
# Min = 0.72 and Max = 1.85
sales_df.groupby('InvoiceDate')['UnitPrice'].min()

In [ ]:
sales_df.groupby('InvoiceDate')['UnitPrice'].max()

**MINI CHALLENGE #3 SOLUTION:**
- **Sort the DataFrame in a descending order (countries and dates)**

In [ ]:
# Please note that there is no point of adding [False, False] or [True, True]
sales_df.sort_index(ascending = False, inplace = True)
sales_df

**MINI CHALLENGE #4 SOLUTION:**
- **Use InvoiceDate and Country in order as the multi-index**
- **Change the name of both indexes to "Date" and "location"**

In [ ]:
sales_df = pd.read_csv('ecommerce_sales.csv', encoding = 'unicode_escape')
sales_df.set_index(keys = ["InvoiceDate", "Country"], inplace = True)
sales_df

In [ ]:
# You can change the names of the DataFrame by invoking the set_names method
sales_df.index.set_names(names = ['Date', 'Location'], inplace = True)
sales_df

**MINI CHALLENGE #5 SOLUTION:**
- **Calculate the average unit price for transactions occured in "United Kingdom" at "12/1/2010 8:26"**

In [ ]:
# Let's import the dataset again using Pandas
sales_df = pd.read_csv('ecommerce_sales.csv', encoding = 'unicode_escape')
sales_df.set_index(keys = ["Country", "InvoiceDate"], inplace = True)


print(sales_df.loc[("United Kingdom", "12/1/2010 8:26"), "UnitPrice"])

# feed index as a tuple (important to avoid confusion)
# first argument references rows and the second argument references a column
sales_df.loc[("United Kingdom", "12/1/2010 8:26"), "UnitPrice"].mean()